<body class = "background">
    <div class = "container">
        <div class = "intro">
            <h1>TEST</h1>
            <div id ="home-button"><%= link_to "TEST", root_path %> </div>
        </div>
    </div>
</body>